################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/finalProjectTest/.vs/finalProjectTest.slnx/FileContentIndex
